apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: lseillier/rag-backend:latest:v5
          ports:
            - containerPort: 8000
          env:
            - name: STORAGE_BASE_URL
              value: "http://rag-storage-service:9000/champions"